@model  WebVentas.ObjectModel.SupervisorRequest
<div class="btn-group btn-group-justified">

    @if (Model.OpcionMenu == 0)
    {
        <a href="../../Supervisor/Index" style="background-color:#3276b1;color:white;" class="btn btn-default">Supervisor <br /> </a>
    }
    else
    {
        <a href="../../Supervisor/Index" class="btn btn-default">Supervisor</a>
    }
    @if (Model.OpcionMenu == 1)
    {
        <a  style="background-color:#3276b1;color:white;" class="btn btn-default"> Reportes</a>
    }
    else
    {
        <a class="btn btn-default"> Reportes</a>
    }


    @if (Model.OpcionMenu == 2)
    {
        <a href="../../Supervisor/MapaCalor"  style="background-color:#3276b1;color:white;" class="btn btn-default">Informe <br />gerencial</a>

    }
    else
    {
        <a href="../../Supervisor/MapaCalor" class="btn btn-default">Informe <br />gerencial</a>
    }

    @*@if (Model.OpcionMenu == 3)
    {
        <a  style="background-color:#3276b1;color:white;" class="btn btn-default">Servidores <br />sin cambio <br /> puesto</a>

    }
    else
    {
        <a  class="btn btn-default">Servidores <br />sin cambio <br /> puesto</a>

    }


    @if (Model.OpcionMenu == 4)
    {
        <a style="background-color:#3276b1;color:white;" class="btn btn-default">Hist&oacutericos</a>
    }
    else
    {
        <a class="btn btn-default">Hist&oacutericos</a>
    }*@


</div>
