@model  WebVentas.ObjectModel.SupervisorRequest
<link href = "~/Content/css/Personalizado.css" rel = "stylesheet" />
<div class="btn-group btn-group-justified">

    @if (Model.OpcionMenu == 0)
    {
    <a href="../../InformacionGerencial/MapaCalor" style="background-color:#ff5722;color:white;" class="btn btn-default"><i class="fa fa-lg fa-map-marker"></i><br />Mapas de calor  </a>
    }
    else
    {
    <a href="../../InformacionGerencial/MapaCalor" class="btn btn-default"><i class="fa fa-lg fa-map-marker"></i><br />Mapas de calor </a>
    }
    @if (Model.OpcionMenu == 1)
    {
    <a href="../../InformacionGerencial/Estadisticas" style="background-color:#ff5722;color:white;" class="btn btn-default"> <i class="fa fa-lg fa-bar-chart-o"></i><br />Estadísticas</a>
    }
    else
    {
    <a href="../../InformacionGerencial/Estadisticas" class="btn btn-default"> <i class="fa fa-lg fa-bar-chart-o"></i><br />Estadísticas</a>
    }



</div>
