@model  WebVentas.ObjectModel.VendedorRequest

@{
    ViewData["Title"] = "Index";
    List<WebVentas.ObjectModel.VisitaRecorrido> Visitas= new List<WebVentas.ObjectModel.VisitaRecorrido>();
}


<style>

    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    .controlFecha {
        margin-top: 10px;
        margin-left: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    .controlsButton {
        border: 1px solid transparent;
        border-radius: 5px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #map {
        height: 600px;
        width: 100%;
    }

    #txtBuscador {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
    }

        #txtBuscador:focus {
            border-color: #4d90fe;
        }
</style>

<!-- MAIN CONTENT -->
<div id="content">
    <p></p>
    <a href="../../vendedores/perfilvendedor?idVendedor=@Model.IdVendedor" id="regresar" type="bt" title="Regresar" class="btn btn-default butoon"><i class="glyphicon glyphicon-arrow-left"></i></a>
    <p></p>


    <div class="col col-10">

        @if (@ViewData["Error"].ToString() != "")

        {

            <div class="col-lg-12">
                <div class="alert alert-block alert-dismissable">
                    <a class="close" data-dismiss="alert" href="#"><p>X</p></a>
                    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Informaci&oacute;n!</h4>
                    <p>
                        <span class="text-danger"><strong><bold> @ViewData["Error"]</bold></strong></span>
                    </p>
                </div>
            </div>

        }

    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget  personalizado-table" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Rutas</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div id="map_container"></div>

                            <input id="txtFecha" type="date" class="controlFecha" onchange="">
                            <input id="txtBuscador" class="controls" type="text" placeholder="Buscar...">

                            <div id="map"></div>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                @*<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-close="false" data-widget-custombutton="false">
            <header draggable="true">
                <span class="widget-icon"> <i class="fa fa-road"></i> </span>
                <h2>Detalle...</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox">
                </div>
                <div class="widget-body no-padding">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="divFichas"></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>*@
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-close="false" data-widget-custombutton="false">
                    <header draggable="true">
                        <span class="widget-icon"> <i class="fa fa-road"></i> </span>
                        <h2>Detalle...</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="divFichas"></div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

            </article>
            <!-- WIDGET END -->
        </div>

        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

@section pagespecific{

    <style>
        .fondoFicha {
            width: 75%;
            background-color: white;
            margin-left: 20%;
        }

        .tituloFicha {
            width: 100%;
            background-color: black;
            color: white;
        }

        .labelFicha {
            width: 20%;
            color: black;
            float: left;
            padding-left: 10px;
        }

        .textoFicha {
            width: 80%;
            color: black;
            float: left;
        }
    </style>

    <script>

        // Variables para ir creando las fichas
        var fichas = [];


        function dibujarFichas() {
            var text = "";

            var contadorFichas = fichas.length;

            var fechaAnterior = 0;
            var cerrar = false;
            var abrir = true;
            ////alert("Cargando datos: " + contadorFichas);

            for (var i = 0; i < contadorFichas; i++){

                if (abrir == true) {

                    

                    text = text +
                        '<div class="tituloFicha">Visita ' + (i + 1) + '</div>' +
                        '<div class="labelFicha">Fecha</div><div class="textoFicha">' + moment(fichas[i].fecha).format('DD-MM-YYYY hh:mm:ss A') + '</div>' +
                        '<div class="labelFicha">Cliente</div><div class="textoFicha">' + fichas[i].cliente + '</div> <br><br>' ;

                    cerrar = true;
                    abrir = false;


                }

                //var contadorCompromiso = fichas[i].compromisos.length;
                //if (contadorCompromiso>0)
                //{

                //    for (var z = 0; z < contadorCompromiso; z++)
                //    {

                //    text = text +
                //    /*'<div class="labelFicha">Hora</div><div class="textoFicha">' + fichas[i].hora +"</div><br />"+*/
                //            //TipoCompromiso: tipoCompromiso,
                //            //    Detalle: detalle,
                //            //        Solucion: solucion

                //        '<div class="labelFicha">Tipo de compromiso</div><div class="textoFicha">' + fichas[i].compromisos[z].TipoCompromiso +'</div><br />'+
                //        '<div class="labelFicha">Detalle</div><div class="textoFicha">' + fichas[i].compromisos[z].Detalle +'</div><br />'+
                //        '<div class="labelFicha">Soluci&oacute;n</div><div class="textoFicha">' + fichas[i].compromisos[z].Solucion +'</div><br />';

                //    }
                //}


                //if (fichas[i].fecha != fechaAnterior) {


                //}


                //text = text +
                    /*'<div class="labelFicha">Hora</div><div class="textoFicha">' + fichas[i].hora +"</div><br />"+*/
                    //'<div class="labelFicha">Tipo de compromiso</div><div class="textoFicha">' + fichasCompromiso[i].tipoCompromiso +'</div><br />'+
                    //'<div class="labelFicha">Detalle</div><div class="textoFicha">' + fichasCompromiso[i].detalle +'</div><br />'+
                    //'<div class="labelFicha">Soluci&oacute;n</div><div class="textoFicha">' + fichasCompromiso[i].solucion +'</div><br />';


                if (cerrar == true) {
                    text = text + '</div ><br />';
                    abrir = true;
                }

            }

            document.getElementById("divFichas").innerHTML = text;

        }

        function initMap() {



            function AddFicha(fecha, RazonSocial, Compromisos)
            {
                var fichaDatos = { fecha: fecha, hora: fecha, cliente: RazonSocial, compromisos: Compromisos };

              //  Console.log(fichaDatos);
                fichas.push(fichaDatos);
                
            }



            // Variables de dibujo
            var map;
            var posicionActual;
            var iconoLugar = " ";
            var tiempoAnimacion = 1200;
            var markers = [];
            var imageniconoPosicion = "../Imagenes/pushpin vacio.png";

            // Crear ruta
            var ruta = new google.maps.Polyline({
                path: polilinea,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });



            var marcadoresVendedor = [];
            var imagenIconoVendedor = "../Imagenes/pushpin vendedor-01.png";

            var marcadoresCliente = [];
            var imagenIconoCliente = "../Imagenes/pushpin cliente-01.png";

            // Variables de datos
            var vendedoresLista = new Array();
            var clientesLista = new Array();

            var polilinea = [];


            posicionActual = { lat: -0.199273058641198, lng: -78.49731476024294 };



            // ****************************************************************************** Añadir un grupo - vendedores -

            //AddToVendedorList("j", -0.16054644784609212, -78.21604034618044);
            //AddToVendedorList("j2", -0.20054644784609212, -78.21604034618044);
            //AddToVendedorList("j2", -0.30054644784609212, -78.21604034618044);

            function CargarVendedores() {
                $.ajax({
                type: 'POST',
                url: '../Vendedores/ListaVendedores',
                dataType: 'json',
                data: {},
                success: function (data) {
                    arreglo = data;

                }, complete: function (data) {

                    for (var i = 0; i < arreglo.length; i++) {

                        if (arreglo[i].Latitud != null && arreglo[i].Longitud != null) {
                            AddToVendedorList(
                                arreglo[i].Nombres + " " + arreglo[i].Apellidos,
                                arreglo[i].Latitud,
                                arreglo[i].Longitud,
                                arreglo[i].IdVendedor,
                                " "
                            );

                            DibujarVendedores(map);
                        }


                    }


                },

                error: function (ex) {
                    alert('Failed to retrieve data.' + ex);
                }
            });
            }


            var iconoVendedor =
                {
                    url: imagenIconoVendedor,

                    size: new google.maps.Size(48, 48),
                    scaledSize: new google.maps.Size(48, 48), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(24, 48) // anchor


                };

            var iconoPosicionVendedor =
                {
                    url: imageniconoPosicion,

                    size: new google.maps.Size(48, 48),
                    scaledSize: new google.maps.Size(48, 48), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(24, 48) // anchor


                };


            function AddToVendedorList(nombre, latitud, longitud, idVendedor, texto) {

                var vendedor = { nombre: nombre, latitud: latitud, longitud: longitud, idVendedor: idVendedor, texto: texto };

                vendedoresLista.push(vendedor);
            }


            function DibujarVendedores(mapa) {

                for (var i = 0; i < vendedoresLista.length; i++) {

                    var posicion = { lat: vendedoresLista[i]["latitud"], lng: vendedoresLista[i]["longitud"] };

                    AddMarketVendedorTimer(mapa, posicion, i * tiempoAnimacion, vendedoresLista[i]["nombre"], vendedoresLista[i]["idVendedor"], vendedoresLista[i]["texto"]);


                }


            }

            function AddMarketVendedorTimer(mapa, posicion, timer, titulo, idVendedor, texto) {

                var icono = iconoVendedor;

                if (texto.trim().length > 0) {
                    icono = iconoPosicionVendedor;
                }

                setTimeout(function () {
                    var newMarker = new google.maps.Marker({
                        map: mapa,
                        icon: icono,
                        title: titulo,
                        position: posicion,
                        animation: google.maps.Animation.DROP,
                        label: { text: texto, color: "#645F9F", fontSize: "20px" }
                    });

                    /*
                    newMarker.addListener('click', function () {
                        if (idVendedor == 0) {
                            location.reload(true);
                        } else {
                            DibujarRutas(idVendedor);
                        }

                    });
                    */
                    marcadoresVendedor.push(newMarker);

                }, timer);


            }

            /**************************************************************************/


            // ****************************************************************************** Añadir un grupo - Clientes -


            //AddToClientList("j", -0.16054644784609212, -78.31604034618044);
            //AddToClientList("j2", -0.20054644784609212, -78.31604034618044);
            //AddToClientList("j2", -0.30054644784609212, -78.31604034618044);

            function cargarClientes() {
                $.ajax({
                    type: 'POST',
                    url: '../Vendedores/ListaClientes',
                    dataType: 'json',
                    data: {},
                    success: function (data) {
                        arreglo = data;

                    }, complete: function (data) {

                        for (var i = 0; i < arreglo.length; i++) {

                            if (arreglo[i].Latitud != null && arreglo[i].Longitud != null) {
                                AddToClientList(arreglo[i].Nombre + " " + arreglo[i].Apellido, arreglo[i].Latitud, arreglo[i].Longitud);


                                DibujarClientes(map);
                            }


                        }


                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
            }

            var iconoCliente =
                {
                    url: imagenIconoCliente,

                    size: new google.maps.Size(48, 48),
                    scaledSize: new google.maps.Size(48, 48), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(24, 48) // anchor


                };


            function AddToClientList(nombre, latitud, longitud) {

                var cliente = { nombre: nombre, latitud: latitud, longitud: longitud };

                clientesLista.push(cliente);
            }


            function DibujarClientes(mapa) {

                for (var i = 0; i < clientesLista.length; i++) {

                    var posicion = { lat: clientesLista[i]["latitud"], lng: clientesLista[i]["longitud"] };

                    AddMarketClienteTimer(mapa, posicion, tiempoAnimacion, clientesLista[i]["nombre"]);


                }
            }

            function AddMarketClienteTimer(mapa, posicion, timer, titulo) {

                setTimeout(function () {


                    marcadoresCliente.push(new google.maps.Marker({
                        map: mapa,
                        icon: iconoCliente,
                        title: titulo,
                        position: posicion,
                        animation: google.maps.Animation.DROP
                    }));

                }, timer);


            }

            /**************************************************************************/




            // Función para Crear rutas
            function DibujarRutas(idVendedor) {

                var numeradorVisita = 1;
                var visitaFechaAnterior = 0;

                var fechaBuscar = document.getElementById("txtFecha").value;

                //Borrar polilinea y ruta
                polilinea = [];


                $.ajax({
                    type: 'POST',
                    url: '../Vendedores/ListaRutas',
                    dataType: 'json',
                    data: { IdVendedor: idVendedor, fecha : fechaBuscar},
                    success: function (data) {
                     arreglo = data;

                    }, complete: function (data) {

                        // Borrar los marcadores de clientes
                        marcadoresCliente.forEach(function (marker) {
                            marker.setMap(null);
                        });

                        // Borrar los marcadores de vendedores
                        marcadoresVendedor.forEach(function (marker) {
                            marker.setMap(null);
                        });
                        vendedoresLista = [];

                        //TestLista comprimiso
                        fichas.pop();
                        polilinea.pop();
                        //For para las Rutas diarias
                        for (var i = 0; i < arreglo.ListaRutas.length; i++) {

                            if (arreglo.ListaRutas[i].Latitud != null && arreglo.ListaRutas[i].Longitud != null) {

                                var coordenada = { lat: arreglo.ListaRutas[i].Latitud, lng: arreglo.ListaRutas[i].Longitud };

                                if (arreglo.ListaRutas[i].IdLogRutaVendedor == 0 && arreglo.ListaRutas[i].Fecha != visitaFechaAnterior) {


                                    AddToVendedorList(
                                        i,
                                        arreglo.ListaRutas[i].Latitud,
                                        arreglo.ListaRutas[i].Longitud,
                                        0,
                                        numeradorVisita + ""
                                    );

                                    numeradorVisita++;
                                    visitaFechaAnterior = arreglo.ListaRutas[i].Fecha;
                                }

                                //if (arreglo.ListaVisitas.length>=0) {


                                //    AddFicha(arreglo.ListaVisitas[i].Fecha, arreglo.ListaVisitas[i].Hora, arreglo.ListaVisitas[i].TipoCompromiso, arreglo.ListaVisitas[i].Detalle, arreglo.ListaVisitas[i].Solucion);

                                //}




                                DibujarVendedores(map);

                                polilinea.push(coordenada);
                            }


                        }

                        //For para Las visitas y compromisos
                        for (var i = 0; i < arreglo.ListaVisitas.length; i++) {

                            if (arreglo.ListaVisitas[i].Fecha != null && arreglo.ListaVisitas[i].ClienteRequest != null)
                            {
                               // console.log("inicio");
                                var RazonSocial = arreglo.ListaVisitas[i].ClienteRequest.RazonSocial;
                              //  console.log(arreglo.ListaVisitas[i].ListaCompromisos.length);

                                var NewCompromiso =[];


                                if (arreglo.ListaVisitas[i].ListaCompromisos.length >= 0) {
                                    for (var f = 0; f < arreglo.ListaVisitas[i].ListaCompromisos.length; f++)
                                    {
                                        var tipoCompromiso = arreglo.ListaVisitas[i].ListaCompromisos[f].TipoCompromiso;
                                        var detalle = arreglo.ListaVisitas[i].ListaCompromisos[f].Detalle;
                                        var solucion = arreglo.ListaVisitas[i].ListaCompromisos[f].Solucion;
                                      //  console.log(detalle);

                                        var compromiso = {
                                            TipoCompromiso: tipoCompromiso,
                                            Detalle: detalle,
                                            Solucion: solucion
                                        };
                                        NewCompromiso.push(compromiso);
                                    }
                                }
                             //   console.log(NewCompromiso);

                                AddFicha(arreglo.ListaVisitas[i].Fecha, RazonSocial,NewCompromiso);

                            }
                        }


                        ruta.setPath(polilinea);


                        if (arreglo.ListaRutas.length > 0) {

                            //Dibujar la ruta en el mapa
                            ruta.setMap(map);


                            map.panTo(polilinea[0]);
                            dibujarFichas();
                            //alert("Ruta creada exitosamente");

                        } else {

                           // alert("No existe una ruta registrada este día");
                        }




                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });


            }



            // Función para dibujar el mapa con todos los componentes

            function DibujarMapa(idMapa) {

                var elementoMapa = document.getElementById(idMapa);

                map = new google.maps.Map(elementoMapa, {
                    zoom: 10,
                    center: posicionActual,
                    mapTypeId: 'roadmap'
                });

                AddEventoClick(map);


                // Elementos del mapa
                AddBuscador("txtBuscador", map);


                setFechaActual();
                addFechaAlMapa();
            }



            function AddEventoClick(mapa) {

                mapa.addListener('click', function (e) {

                    //alert("latitud: " + e.latLng.lat() + " longitud: " + e.latLng.lng());

                    //Ir(e.latLng,map);
                });

            }



            // Función para hacer funcionar el buscador

            function AddBuscador(idBuscador, mapa) {


                var txtBuscador = document.getElementById(idBuscador);
                var buscar = new google.maps.places.SearchBox(txtBuscador);


                mapa.controls[google.maps.ControlPosition.TOP_LEFT].push(txtBuscador);

                mapa.addListener('bounds_changed', function () {
                    buscar.setBounds(map.getBounds());
                });


                buscar.addListener('places_changed', function () {

                    var places = buscar.getPlaces();

                    if (places.length == 0) {
                        return;
                    }

                    // Clear out the old markers.
                    markers.forEach(function (marker) {
                        marker.setMap(null);
                    });
                    markers = [];

                    // For each place, get the icon, name and location.
                    var bounds = new google.maps.LatLngBounds();
                    places.forEach(function (place) {
                        if (!place.geometry) {
                            console.log("Returned place contains no geometry");
                            return;
                        }
                        var icon = {

                            url: iconoLugar,
                            size: new google.maps.Size(71, 71),
                            origin: new google.maps.Point(0, 0),
                            anchor: new google.maps.Point(60, 60),
                            scaledSize: new google.maps.Size(60, 60)
                        };

                        // Create a marker for each place.
                        markers.push(new google.maps.Marker({
                            map: map,
                            icon: icon,
                            title: place.name,
                            position: place.geometry.location
                        }));

                        if (place.geometry.viewport) {
                            // Only geocodes have viewport.
                            bounds.union(place.geometry.viewport);
                        } else {
                            bounds.extend(place.geometry.location);
                        }

                    });

                    mapa.fitBounds(bounds);
                });
            }


            DibujarMapa("map");


            ////////*********************************


            function addFechaAlMapa() {

                var controlDiv = document.createElement('DIV');
                controlDiv.id = "controls";

                var onChange = function () {

                    DibujarRutas(@Model.IdVendedor);

                };

                controlDiv.appendChild(document.getElementById("txtFecha"));
                google.maps.event.addDomListener(controlDiv, 'change', onChange);


                map.controls[google.maps.ControlPosition.TOP_LEFT].push(controlDiv);
            }






        }

        function setFechaActual() {

            if (document.getElementById("txtFecha").valueAsDate == null) {

                document.getElementById("txtFecha").valueAsDate = new Date();

            }

        }

        setFechaActual();


    </script>




   

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIBkXjci-D1Gog6Ez_BkpJcdtEnO1XsBA&libraries=places&callback=initMap">
    </script>
}